@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Base styles for a clean app feel */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden; /* App-like behavior */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
